body {
    margin: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'VT323', monospace;
}

canvas {
    image-rendering: pixelated;
    box-shadow: 0 0 50px rgba(0, 0, 255, 0.2);
    border: 2px solid #222;
}
