#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #1a1a1a 0%, #000 100%);
}

/* Verhindert Scrollen auf Mobile */
* {
    touch-action: none;
    -webkit-touch-callout: none;
    user-select: none;
}
